.row{
  max-width: 1140px;
  margin: 0 auto;

  &::after{
    content: "";
    display: table;
    clear: both;
  }
  .col-1-of-2{
    width: calc((100% - 60px) / 2);
    float: left;

    &:not(:last-child){
      margin-right: 60px;
    }
  }
}