@use "../abstracts/variables" as v;

.btn{
  &:link,
  &:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
  }
  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(v.$color-black, .2);
  }
  &:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(v.$color-black, .2);
  }
  &-white{
    background-color: v.$color-white;
    color: v.$color-black;
    font-size: 14px;
    border: 1px solid transparent;

    &:hover{
      background-color: transparent;
      border: 1px solid v.$color-white;
      color: v.$color-white;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(v.$color-black, .2);
    }
    &::after{
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
    }
    &::after{
      background-color: v.$color-white;
    }
  }
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
}