@use "../abstracts/variables" as v;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: v.$color-grey-dark;
  padding: 30px;
}