@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.section-about {
    background-color: v.$color-grey-light-1;
    padding: 15rem 0;
}

.section-features {
    padding: 15rem 0;

    background-image:
        linear-gradient(
            to right bottom,
            rgba(v.$color-primary-light, 0.8),
            rgba(v.$color-primary-dark, 0.8)
        ),
        url("../img/nat-4.jpg");

    background-size: cover;
    background-position: center;
}

.section-tours {
    background-color: v.$color-grey-light-1;
    padding: 15rem 0;
}

.section-stories {
    position: relative;
    padding: 15rem 0;
    overflow: hidden;

    > *:not(.bg-video) {
        position: relative;
        z-index: 1;
    }
}

.section-book {
    padding: 15rem 0;

    background-image: linear-gradient(
        to right bottom,
        v.$color-primary-light,
        v.$color-primary-dark
    );
}

@include m.respond(tab-port) {
    .section-about,
    .section-features,
    .section-tours,
    .section-stories,
    .section-book {
        padding: 10rem 0;
    }
}